<div *ngFor="let territorio of territorios" class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="territorio.img">
    <div class="card-body">
      <h5 class="card-title">{{territorio.nombre}} #{{territorio.numero}}</h5>
      <p class="card-text">{{territorio.descripcion}} </p>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngIf="territorio.estado == '1'" class="list-group-item">Última vez: <strong>{{territorio.ultimaVez}} </strong></li>
      <li *ngIf="territorio.estado == '2'" class="list-group-item">Comenzó en: <strong>{{territorio.ultimaVez}} </strong></li>
      <li class="list-group-item">Asignado: <strong>{{territorio.encargado}} </strong></li>
      <li class="list-group-item">Estado: <strong>{{territorio.estado}}</strong></li>
    </ul>
    <div class="card-body">
      <button class="btn btn-info" [routerLink]="['/territorio', territorio.id]">Historial</button>
      <button *ngIf="territorio.estado == '1'" class="btn btn-primary">Empezar</button>
      <button *ngIf="territorio.estado == '2'" class="btn btn-success">Terminar</button>
    </div>
  </div>

 